*{
    font-family: "Gill Sans", sans-serif;
    color: white;
}

body {
    background-color: #222222;
}

nav {
    display: flex;
    height: 60px;
    background-color: #555555;
    align-content: center;
    justify-content: center;
    margin-bottom: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0;
    padding: 0;
    width: 80%;
}

nav ul a, nav ul a:hover, nav ul a:visited{
    color: white;
    text-decoration: none;
}

.calculator-input{
    width: 100%;
    text-align: right;
}

.containerAnimateUnderline .animateUnderline {
    position: relative;
    display: inline-block;
    padding: 0;
    color: white;
}

.containerAnimateUnderline .animateUnderline a {
    text-decoration: none;
}

.containerAnimateUnderline .animateUnderline:hover::after,
.containerAnimateUnderline .animateUnderline:hover::before {
    width: 100%;
    left: 0;
}

.containerAnimateUnderline .animateUnderline {
    cursor: pointer;
}

.containerAnimateUnderline .animateUnderline::after,
.containerAnimateUnderline .animateUnderline::before {
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    width: 0;
    right: 0;
    height: 3px;
    transform: translate3d(0, 0, 0);
}

.containerAnimateUnderline .animateUnderline::before {
    transition: width 0.25s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
    background: #448617;
}

.containerAnimateUnderline .animateUnderline::after {
    transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
    background: white;
}

.containerAnimateButton a span {
    display: block;
    padding: 0 20px;
    height: 36px;
    line-height: 36px;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.form-content {
    margin: 0 20%;
}

.form-content ul li:nth-child(2n+1){
    background-color: #555555;
    color: white;
    border-top: 1px solid #448617;
    border-bottom: 1px solid #448617;
}

.form-content ul{
    list-style: none;
    margin-top: 20px;
}

.form-content ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.form-content ul li a{
    text-decoration: none;
    margin-right: 10px;
    color: white;
}

.form-content ul li a:first-child{
    padding-right: 5px;
    border-right: 1px solid #448617;
    margin-right: 5px;
}

.form-name span {
    margin-left: 10px;
}

.create-form-content {
    margin: 0 20%;
}

.create-form-content div{
    margin: 20px 0;
}

.create-form-content input{
    border-radius: 0.25rem;
}

.create-form-content .answer{
    margin-left: 20px;
}

i {
    margin-left: 10px;
}

.form-detail{
    margin: 0 20%;
}

.form-detail h1{
    color: white;
}