nav {
    display: flex;
    height: 60px;
    background-color: #01df04;
    border-radius: 0 0 10px 10px;
    align-content: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0;
    padding: 0;
    width: 80%;
}

nav ul a, nav ul a:hover, nav ul a:visited{
    color: white;
    text-decoration: none;
}

.calculator-input{
    width: 100%;
    text-align: right;
}