<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="../../static/css/style.css">

<nav>
    <ul>
        <li class='containerAnimateUnderline'><a href='/calculator' class='animateUnderline'>Calculatrice</a></li>
        <li class='containerAnimateUnderline'><a href='/geolocalisator' class='animateUnderline'>Geolocalisation</a></li>
        <li class='containerAnimateUnderline'><a href='/form' class='animateUnderline'>Formulaires</a></li>
    </ul>
</nav>

<div class='create-form-content'>
    <h1>{{ form.1 }}</h1>


    <form action="{% url 'save_result' form.0 %}" method="post">
        <div>
        {% csrf_token %}
        </div>
        {% for q in questions %}
            <div>
                <h2>{{ q.1 }}</h2>
                <input type="text" name="{{ q.0 }}" id="{{ q.0 }}">
            </div>
        {% endfor %}



        {% for q in choices %}
        <div>
            <h2>{{ q.0.1 }}</h2>
            {% for a in q|slice:"1:" %}
                <input type="radio" name="{{ q.0.0 }}" id="{{ q.0.0 }}" value="{{ a }}">
                <label for="{{ q.0.0 }}">{{ a }}</label>
            {% endfor %}
        </div>
        {% endfor %}

        <input type="submit" value="Vote" class="btn btn-light">
    </form>
</div>