<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="../../static/css/style.css">
    </head>
    <body>
        <nav>
            <ul>
                <li class='containerAnimateUnderline'><a href='/calculator' class='animateUnderline'>Calculatrice</a></li>
                <li class='containerAnimateUnderline'><a href='/geolocalisator' class='animateUnderline'>Geolocalisation</a></li>
                <li class='containerAnimateUnderline'><a href='/form' class='animateUnderline'>Formulaires</a></li>
            </ul>
        </nav>
        <div class='form-content'>
            <h1>Formulaires</h1>
            <a href="/create-form"><button class="btn btn-light">Créer un formulaire</button></a>
            <ul>
                <li>
                    <div class='form-name'>
                        <span>Formulaire 1</span>
                    </div>
                    <div class='form-action containerAnimateUnderline'>
                        <a href='/form/1' class='animateUnderline'>Répondre</a>
                        <a href='/form-result/1' class='animateUnderline'>Résultat</a>
                    </div>
                </li>
                <li>
                    <div class='form-name'>
                        <span>Formulaire 2</span>
                    </div>
                    <div class='form-action containerAnimateUnderline'>
                        <a href='/form/2' class='animateUnderline'>Répondre</a>
                        <a href='/form-result/2' class='animateUnderline'>Résultat</a>
                    </div>
                </li>
                <li>
                    <div class='form-name'>
                        <span>Formulaire 3</span>
                    </div>
                    <div class='form-action containerAnimateUnderline'>
                        <a href='/form/3' class='animateUnderline'>Répondre</a>
                        <a href='/form-result/3' class='animateUnderline'>Résultat</a>
                    </div>
                </li>
                <li>
                    <div class='form-name'>
                        <span>Formulaire 4</span>
                    </div>
                    <div class='form-action containerAnimateUnderline'>
                        <a href='/form/4' class='animateUnderline'>Répondre</a>
                        <a href='/form-result/4' class='animateUnderline'>Résultat</a>
                    </div>
                </li>
            </ul>
        </div>
    </body>
</html>